#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pup-names{
  font-size: 3rem;
  text-align: center;
  color: darkcyan;
  font-weight: bold;
  text-align: left;
}

.pup-names:hover{
  color: orchid;
}

.pup-info{
  text-align: left;
  min-height: 200px;
  min-width: 900px;
  border: 8px solid slategray;

  padding: 10px 20px 10px 20px;
  
}

.u-list{

 list-style-type: none;
 padding-bottom: 30px;
}

.pup-header{
  padding-left: 150px;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
 
  font-style: italic;
  color: orchid;
}

.age, .email{
  padding-left: 150px;
  text-align: left;
  font-size: 2em;
  font-style: italic;
  font-weight: 500;
  color: darkcyan;
}
